
html body {
  width:100%;
  height:100%;
  background-color: #ddd;
}
#app{
  position: relative;
  width: 1200px;
  height: 700px;
  overflow: hidden;
  margin: 0 auto ;
}
.picDiv{
  position:absolute;
  width:240px;
  height:260px;
  margin:0px;
  padding:40px;
  background-color: #fff;
  overflow: hidden;
}
.picDiv img {
  width : 240px;
  height : 260px;
  margin : 0;
  padding : 0;
  text-align : center;
}
.picDiv .img-title{
  height:30px;
  line-height: 30px;
}
.picDiv .img-desc{

}
